body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.card, .menu-card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin: 20px;
  padding: 20px;
}

.card-nav {
  margin-bottom: 30px;
  font-size: smaller;
}

.card-nav a {
  text-decoration: none;
}

.card p {
  line-height: 1.4em;
}

.primary-menu, .secondary-menu {
  list-style: none;
  padding: 0;
}

.secondary-menu {
  display: none;
  padding-left: 20px;
}

.secondary-menu li {
  padding-bottom: 10px;
}


.menu-button {
  background: none;
  border: none;
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.menu-button-direct {
  background: none;
  border: none;
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
  text-align: left;
  padding-top: 20px;
}


h2 {
  font-size: 1.3em;
}

h3, h4 {
  padding-top: 20px;
}

p {
  font-size: 1em;
}

.credits {
  margin-top: 30px;
  font-style: italic;
}

.article-links {
  margin-top: 30px;
  font-size: 1em;
  text-decoration: none;
}

.warning {
  padding: 16px;
  background-color: #F8D7DA;
  color: #9B0B19;
  margin-top: 30px;
  font-size: .9em;
  text-decoration: none;
}

.section{
  display: block;
  margin: 0, auto;
  padding: 20px;
  text-align: center;
}

.rtl {
  direction: rtl;
  text-align: right;
}



.secondary-menu {
  display: none;
}

.expanded {
  display: block;
}

